.idea
.idea/*
.vscode/
.venv
.venv/*
.venv*/
/venv/
/TestData/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.log
*.xlsx
*.xlsm
/tests/*.xlsx
*.html
.DS_Store
*.zip
