# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.venv*/
venv/
.env
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Artifacts
*.xlsx
*.xlsm
*.zip
